h3{
    background-color:rgb(246, 93, 93);
}
 #btns{
    width: 80px;
   height: 80px;
   border:2px solid;
} 
#btn{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
button{
    font-size:x-large;
}
.new{
    display: none;
}
#toy , #toy1{
    position: absolute;
    top: 10%;
    left: 50%;
}
#restart{
    position: absolute;
    top:40%;
    left: 40%;
}